################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/aicup/src/.vs/core/v15
/aicup/src/core/x64/Debug
/aicup/src/x64/Debug
/aicup/src/core/ai.exe
/aicup/src/core/ai.obj
/aicup/src/core/aibin.exe
/aicup/src/core/ai.bin
/aicup/src/core/x64/Release
/aicup/src/x64/Release
/aicup/QapLR/.vs/QapLR/v15
/aicup/QapLR/Release/user_name.txt
/aicup/QapLR/Release/QapLR.iobj
/aicup/QapLR/Release/QapLR.ipdb
/aicup/QapLR/Release/QapLR.pdb
/aicup/QapLR/Release/QapLR.exe
/aicup/QapLR/QapLR/counter.exe
/aicup/QapLR/QapLR/socket_adapter.exe
/aicup/QapLR/QapLR/socket_adapter.obj
/aicup/QapLR/QapLR/counter.obj
/aicup/QapLR2
/aicup/QapLR3
/aicup/QapLR/QapLR/adler20250907.inl
/aicup/QapLR/QapLR/adler20250907.exe
/aicup/QapLR/QapLR/gpt5.exe
/aicup/QapLR/devlog/aicup001.h
/aicup/QapLR/QapLR/QapLR.exe
/aicup/QapLR/QapLR/replay.cmds
/aicup/QapLR/Release/replay14.cmds
/aicup/QapLR/Release/replay.cmds
/aicup/QapLR/QapLR/adlerN0907.exe
/aicup/QapLR/QapLR/user_name.txt
/aicup/QapLR/QapLR/GFX
/aicup/QapLR/devlog/aicup002.h
/aicup/QapLR/devlog/003.h
/aicup/QapLR/devlog/004.h
/aicup/QapLR/devlog/005.h
/aicup/QapLR/devlog/006.h
/aicup/QapLR/devlog/007.h
/aicup/QapLR/QapLR/ur.tar
/aicup/QapLR/QapLR/replay0.t_cdn_game_v0
/aicup/QapLR/Release/replay0.t_cdn_game_v0
/aicup/QapLR/Release/15
/aicup/QapLR/Release/15.out
/aicup/QapLR/devlog/008.h
/aicup/QapLR/devlog/009.h
/aicup/QapLR/Release/15.bin
/aicup/src/core/out.log.js
/aicup/src/core/source/0_0_0.cpp
/aicup/src/core/source/0_0_0.cpp
