################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/aicup/src/.vs/core/v15
/aicup/src/core/x64/Debug
/aicup/src/x64/Debug
/aicup/src/core/ai.exe
/aicup/src/core/ai.obj
/aicup/src/core/aibin.exe
/aicup/src/core/ai.bin
/aicup/src/core/x64/Release
/aicup/src/x64/Release
/aicup/QapLR/.vs/QapLR/v15
/aicup/QapLR/Release/user_name.txt
/aicup/QapLR/Release/QapLR.iobj
/aicup/QapLR/Release/QapLR.ipdb
/aicup/QapLR/Release/QapLR.pdb
/aicup/QapLR/Release/QapLR.exe
/aicup/QapLR/QapLR/counter.exe
/aicup/QapLR/QapLR/socket_adapter.exe
/aicup/QapLR/QapLR/socket_adapter.obj
/aicup/QapLR/QapLR/counter.obj
/aicup/QapLR2
/aicup/QapLR3
/aicup/QapLR/QapLR/adler20250907.inl
/aicup/QapLR/QapLR/adler20250907.exe
/aicup/QapLR/QapLR/gpt5.exe
/aicup/QapLR/devlog/aicup001.h
/aicup/QapLR/QapLR/QapLR.exe
/aicup/QapLR/QapLR/replay.cmds
