################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/QapLR/v15
/QapLR/Debug
/Debug
/QapLR/Release/QapLR.tlog
/QapLR/Release
/QapLR/QapLR.cpp.zip
/QapLR/QapLR.zip
/QapLR/QapLR.vcxproj.user
/QapLR/QapLR.vcxproj.filters
/QapLR/QapLR(2025.05.29).7z
/QapLR/v4.zip
/QapLR/REB.js
/QapLR/orig.cpp
/QapLR/with_dels.inl
/QapLR/MEB.js
/QapLR/marked.cpp
/QapLR/x64/Debug
/Release/GFX/v3.zip
/Release/GFX.zip
/Release/g_log.txt
/Release/GFX/v3
/Release/GFX/v4
